/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: black;
}
html,
body {
  font-family: 'Kanit';
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Kanit';
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 72%;
  margin: 0 auto;
  background-color: #343434;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom, black, #d11aff);
}
header h2 {
  font-size: 5rem;
  color: #d11aff;
  margin-left: 15px;
  text-shadow: 3px 3px 3px black;
}
header nav {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}
header nav a {
  font-size: 2.8rem;
  padding: 15px 40px;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #8d17a5;
  background-color: #f2f2f2;
  box-shadow: 3px 3px 3px black;
}
header nav a:hover {
  background-color: #3b3b3b;
  color: #f2f2f2;
}
@media (max-width: 400px) {
  header {
    flex-direction: column;
  }
  header h3 {
    font-size: 4rem;
    padding-top: 1rem;
  }
  header nav {
    padding-bottom: 1rem;
  }
}
.aboutbody {
  display: flex;
  justify-content: space-around;
  margin: 15% 0;
}
@media (max-width: 800px) {
  .aboutbody {
    display: inline;
  }
  .aboutbody .box {
    margin: 4rem 3rem;
  }
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, black, #d11aff);
  height: 12rem;
  color: #8d17a5;
  text-shadow: 2px 2px 2px black;
}
footer p {
  font-size: 2.5rem;
}
.box {
  width: 200px;
  height: 200px;
  background: #f2f2f2;
  border-radius: 30px;
  box-shadow: 15px 15px 0 grey;
  margin: 40px 0;
  line-height: 100%;
  color: #f2f2f2;
}
.box h4 {
  padding-top: 70%;
  text-shadow: 2px 2px #d11aff;
}
.box p {
  font-size: 1.75rem;
  text-shadow: 2px 2px #d11aff;
}
.bottom {
  text-align: center;
  padding: 2rem;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
}
.bottom h2 {
  padding-top: 5rem;
  text-shadow: 1px 1px #9f1de0;
  color: #fcd3ff;
}
#tim {
  background-image: url("../images/tim.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#michael {
  background-image: url("../images/linkin-photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#ken {
  background-image: url("../images/ken.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 15px 15px 0 grey;
}
#jacob {
  background-image: url("../images/jacob.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}
/* Modal Content */
.modal-content {
  background-color: grey;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.modal-content img {
  padding: 2rem;
  max-height: 50rem;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-start;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
form div {
  padding: 1.2rem;
}
input {
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding: 1rem;
  border: none;
  background: #282828;
  border-radius: 8px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.85em;
  color: #888;
  font-weight: 300;
  font-size: 13pt;
}
textarea {
  height: 15rem;
  border: none;
  background: #282828;
  border-radius: 8px;
  width: 50%;
}
