.box {
  width: 200px;
  height: 200px;
  background: #f2f2f2;
  border-radius: 30px;
  box-shadow: 15px 15px 0 #d11aff;
  transition: 0.5s;
}
.box:hover {
  width: 220px;
  height: 220px;
  transform: rotate(-5deg);
}
.header {
  font-size: 4.5rem;
  color: #fcd3ff;
}
.mobile-header {
  font-size: 6rem;
  color: #fcd3ff;
  margin: 0 auto;
  padding-bottom: 25px;
}
.paragraph {
  font-size: 2.5rem;
  margin-top: 25px;
  color: #f2f2f2;
}
.mobile-paragraph {
  font-size: 3rem;
  margin-top: 75px;
  color: #f2f2f2;
  margin: 0 auto;
  width: 90%;
}
.main-text {
  display: flex;
  flex-direction: column;
  align-items: left;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Kanit', sans-serif;
}
body {
  width: 72%;
  margin: 0 auto;
  background-color: black;
}
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;
  background: linear-gradient(black, #d11aff);
  position: sticky;
  top: 0;
}
.topnav h1 {
  font-size: 7rem;
  color: #fcd3ff;
  margin-left: 15px;
  text-shadow: 3px 3px 3px black;
}
.topnav nav {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}
.topnav nav a {
  font-size: 2.8rem;
  padding: 15px 40px;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #8d17a5;
  background-color: #f2f2f2;
  box-shadow: 3px 3px 3px black;
}
.topnav nav a:hover {
  background-color: #3b3b3b;
  color: #f2f2f2;
}
.background {
  background-color: #3b3b3b;
  box-shadow: 0 0 20px #f2f2f2;
  height: 2000px;
  width: 100%;
}
.opener {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  background-color: gray;
  height: 150px;
  width: 90%;
  margin: 50px auto;
  box-shadow: 3px 3px 3px #8d17a5;
}
.opener section h1 {
  font-size: 6rem;
  font-family: 'Kanit', sans-serif;
  color: #f2f2f2;
  text-shadow: 3px 3px 3px black;
}
.opener section p {
  font-size: 2rem;
  color: #fcd3ff;
}
.opener section p a {
  text-decoration: none;
  color: #8d17a5;
}
.inline {
  width: 80%;
  margin: 0 auto;
}
.inline .introduction {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}
.inline .introduction div {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.inline .introduction div h2 {
  font-size: 4.5rem;
  color: #fcd3ff;
}
.inline .introduction div p {
  width: 75%;
  font-size: 2.5rem;
  margin-top: 25px;
  color: #f2f2f2;
}
.inline .introduction img {
  border-radius: 50%;
  box-shadow: 0 0 15px black;
}
.inline .boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  height: 300px;
}
.inline .boxes .example {
  width: 200px;
  height: 200px;
  background: #f2f2f2;
  border-radius: 30px;
  box-shadow: 15px 15px 0 #d11aff;
  transition: 0.5s;
}
.inline .boxes .example:hover {
  width: 220px;
  height: 220px;
  transform: rotate(-5deg);
}
.inline .boxes .example p {
  font-size: 7rem;
  text-align: right;
  padding: 5px;
  color: #d11aff;
}
.inline .boxes .box-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 70%;
}
.inline .boxes .box-header h2 {
  font-size: 4.5rem;
  color: #fcd3ff;
  width: 80%;
}
.inline .boxes .box-header p {
  font-size: 2.5rem;
  margin-top: 25px;
  color: #f2f2f2;
  width: 80%;
}
.inline .audience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}
.inline .audience div h2 {
  font-size: 4.5rem;
  color: #fcd3ff;
}
.inline .audience div p {
  font-size: 2.5rem;
  margin-top: 25px;
  color: #f2f2f2;
  width: 80%;
}
.inline .audience img {
  border-radius: 50%;
  box-shadow: 0 0 15px black;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, black, #d11aff);
  height: 12rem;
  color: #8d17a5;
  text-shadow: 2px 2px 2px black;
  font-size: 2.5rem;
}
@media (max-width: 800px) {
  body {
    width: 100%;
  }
  .background {
    background-color: black;
    height: 2100px;
  }
  .topnav {
    width: 100%;
    height: 150px;
    background: linear-gradient(black, #d11aff);
    flex-direction: column;
  }
  .topnav h1 {
    font-size: 7rem;
    letter-spacing: 0.5rem;
    color: #fcd3ff;
    text-shadow: 3px 3px 3px black;
  }
  .topnav nav {
    display: flex;
    justify-content: space-between;
  }
  .topnav nav a {
    font-size: 2rem;
    padding: 15px 40px;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #8d17a5;
    background-color: #f2f2f2;
    box-shadow: 3px 3px 3px black;
  }
  .topnav nav a:hover {
    background-color: #3b3b3b;
    color: #f2f2f2;
  }
  .opener section h1 {
    font-size: 6rem;
  }
  .inline {
    width: 100%;
  }
  .inline .introduction {
    display: flex;
    flex-direction: column;
    text-align: justified;
  }
  .inline .introduction div {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 50px 0;
    border-bottom: 3px solid #d11aff;
    box-shadow: 0px 0 20px #8d17a5;
  }
  .inline .introduction div h2 {
    font-size: 6rem;
    color: #fcd3ff;
    margin: 0 auto;
    padding-bottom: 25px;
  }
  .inline .introduction div p {
    font-size: 3rem;
    margin-top: 75px;
    color: #f2f2f2;
    margin: 0 auto;
    width: 90%;
  }
  .inline .introduction img {
    display: none;
  }
  .inline .boxes {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 50px 0;
    height: 475px;
    padding: 50px 0;
    border-bottom: 3px solid #d11aff;
    box-shadow: 0px 0 20px #8d17a5;
  }
  .inline .boxes .example {
    width: 200px;
    height: 200px;
    background: #f2f2f2;
    border-radius: 30px;
    box-shadow: 15px 15px 0 #d11aff;
    transition: 0.5s;
  }
  .inline .boxes .example:hover {
    width: 220px;
    height: 220px;
    transform: rotate(-5deg);
  }
  .inline .boxes .example p {
    font-size: 7rem;
    text-align: right;
    padding: 5px;
    color: #d11aff;
  }
  .inline .boxes .box-header {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
  }
  .inline .boxes .box-header h2 {
    font-size: 6rem;
    color: #fcd3ff;
    margin: 0 auto;
    padding-bottom: 25px;
  }
  .inline .boxes .box-header p {
    font-size: 3rem;
    margin-top: 75px;
    color: #f2f2f2;
    margin: 0 auto;
    width: 90%;
  }
  .inline .audience {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
  }
  .inline .audience div {
    border-bottom: 3px solid #d11aff;
    box-shadow: 0px 0 20px #8d17a5;
    padding: 50px 0;
  }
  .inline .audience div h2 {
    width: 80%;
    font-size: 6rem;
    color: #fcd3ff;
    margin: 0 auto;
    padding-bottom: 25px;
    font-size: 5.8rem;
  }
  .inline .audience div p {
    font-size: 3rem;
    margin-top: 75px;
    color: #f2f2f2;
    margin: 0 auto;
    width: 90%;
  }
  .inline .audience img {
    display: none;
  }
}
