.box {
  width: 200px;
  height: 200px;
  background: #f2f2f2;
  border-radius: 30px;
  box-shadow: 15px 15px 0 #d11aff;
  transition: 0.5s;
}
.box:hover {
  width: 220px;
  height: 220px;
  transform: rotate(-5deg);
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Kanit', sans-serif;
}
body {
  width: 72%;
  margin: 0 auto;
  background-image: url("../images/books.jpg");
}
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;
  background: linear-gradient(black, #d11aff);
}
.topnav h1 {
  font-size: 7rem;
  color: #fcd3ff;
  margin-left: 15px;
  text-shadow: 3px 3px 3px black;
}
.topnav nav {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}
.topnav nav a {
  font-size: 2.8rem;
  padding: 15px 40px;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #8d17a5;
  background-color: #f2f2f2;
  box-shadow: 3px 3px 3px black;
}
.topnav nav a:hover {
  background-color: #3b3b3b;
  color: #f2f2f2;
}
.background {
  background-color: #3b3b3b;
  height: 2000px;
  width: 100%;
}
.opener {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  background-color: gray;
  height: 150px;
  width: 90%;
  margin: 50px auto;
  box-shadow: 3px 3px 3px #8d17a5;
}
.opener section h1 {
  font-size: 6rem;
  font-family: 'Kanit', sans-serif;
  color: #f2f2f2;
  text-shadow: 3px 3px 3px black;
}
.opener section p {
  font-size: 2rem;
  color: #fcd3ff;
}
.opener section p a {
  text-decoration: none;
  color: #8d17a5;
}
.boxes {
  display: flex;
  justify-content: space-between;
}
.boxes .example {
  width: 200px;
  height: 200px;
  background: #f2f2f2;
  border-radius: 30px;
  box-shadow: 15px 15px 0 #d11aff;
  transition: 0.5s;
  margin: 0 100px;
}
.boxes .example:hover {
  width: 220px;
  height: 220px;
  transform: rotate(-5deg);
}
.boxes .example p {
  font-size: 7rem;
  text-align: right;
  padding: 5px;
  color: #d11aff;
}
.boxes .box-header {
  width: 65%;
  margin: 25px 0;
  color: #fcd3ff;
}
.boxes .box-header h2 {
  font-size: 3.5rem;
}
.boxes .box-header p {
  font-size: 1.8rem;
  margin-top: 25px;
  color: #8d17a5;
}
