header {
    display: flex;
    justify-content: space-between; 
    text-align: center;
    align-items: center;
    background-color: @shampoo;

    h2{
        padding-left: 2%;
    }

    nav{
        padding-right: 1%;

    }
};

.aboutbody{
    display:flex;
    justify-content: space-around;
    margin: 15% 0;
}

footer{
    text-align: center;
    background-color: @shampoo;
}