// header {
//   display: flex;
//   justify-content: space-around;
//   text-align: center;
//   align-items: center;
//   background-color: @shampoo;
//   height: 12rem;

//   h3 {
//     font-size: 4rem;
//   }

//   a {
//     font-size: 1.5rem;
//     margin-right: 2rem;
//   }

//   @media @mobile {
//     flex-direction: column;

//     h3 {
//       font-size: 4rem;
//       padding-top: 1rem;
//     }

//     nav {
//       padding-bottom: 1rem;
//     }
//   }
// }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, black, @main-purple);
    
    h2 {
        font-size: 5rem;
        color: @main-purple;
        margin-left: 15px;
        text-shadow: 3px 3px 3px black;
    }

    nav {
        display: flex;
        justify-content: space-between;
        margin-right: 15px;
        
        a {
            font-size: 2.8rem;
            padding: 15px 40px;
            margin: 10px;
            text-decoration: none;
            text-transform: uppercase;
            color: @deep-purple;
            background-color: @pearl;
            box-shadow: 3px 3px 3px black;

            &:hover {
                background-color: rgb(59, 59, 59);
                color: @pearl;
            }
        } 
    }

    @media @mobile {
            flex-direction: column;
        
            h3 {
              font-size: 4rem;
              padding-top: 1rem;
            }
        
            nav {
              padding-bottom: 1rem;
            }
          }
}

.aboutbody {
  display: flex;
  justify-content: space-around;
  margin: 15% 0;

  @media @tablet {
    display: inline;

    .box {
      margin: 4rem 3rem;
    }
  }
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, black, @main-purple);
  height: 12rem;
  color: @deep-purple;
  text-shadow: 2px 2px 2px black;

  p {
    font-size: 2.5rem;
  }
}

.box {
  width: 200px;
  height: 200px;
  background: @afwhite;
  border-radius: 30px;
  box-shadow: 15px 15px 0 grey;
  margin: 40px 0;
  line-height: 100%;
  color: @afwhite;

  h4 {
    padding-top: 70%;
    text-shadow: 2px 2px @orchid;
  }
  p {
    font-size: 1.75rem;
    text-shadow: 2px 2px @orchid;
  }
}

.bottom {
  text-align: center;
  padding: 2rem;
  color: white;
  max-width: 1000px;
  margin: 0 auto;

  h2 {
    padding-top: 5rem;
    text-shadow: 1px 1px @veronica;
    color: @shampoo;
  }
}

#tim {
  background-image: url("../images/tim.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#michael {
  background-image: url("../images/linkin-photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#ken {
  background-image: url("../images/ken.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 15px 15px 0 grey;
}

#jacob {
  background-image: url("../images/jacob.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: grey;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    padding: 2rem;
    max-height: 50rem;
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-start;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form{

    div{
        padding: 1.2rem;
    }
}

input{
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 1rem;
    border: none;
    background: #282828;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.85em;
    color: #888;
    font-weight: 300;
    font-size: 13pt;
}

textarea{
    height: 15rem;
    border: none;
    background: #282828;
    border-radius: 8px;
    width: 50%;
}