.opener {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    background-color: rgb(59, 59, 59);
    height: 200px;
    width: 1400px;
    margin: 50px auto;

    section {

        h1 {
            font-size: 6rem;
            font-family: @main-font;
            color: @pearl;
        }
    
        p {
            font-size: 2rem;
            color: @main-purple;
        }
    }
}

.example {
    .box;

    p {
        font-size: 10rem;
        text-align: right;
        padding-right: 25px;
    }
}