.box {
    width: 200px;
    height: 200px;
    background: @pearl;
    border-radius: 30px;
    box-shadow: 15px 15px 0 @main-purple;
    transition: .5s;

    &:hover {
        width: 220px;
        height: 220px;
        transform: rotate(-5deg);
    }
}

.header {
    font-size: 4.5rem;
    color: @lightpurple;
}

.mobile-header {
    font-size: 6rem;
    color: @lightpurple;
    margin: 0 auto;
    padding-bottom: 25px;
}

.paragraph {
    font-size: 2.5rem;
    margin-top: 25px;
    color: @pearl;
}

.mobile-paragraph {
    font-size: 3rem;
    margin-top: 75px;
    color: @pearl;
    margin: 0 auto;
    width: 90%;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: left;
}