.topnav {
    display: flex;
    justify-content: space-between;
    
    h1 {
        font-size: 5rem;
    }

    nav {
        display: flex;
        justify-content: space-between;
        
        a {
            font-size: 2.8rem;
            padding: 15px 40px;
            margin: 10px;
            text-decoration: none;
            text-transform: uppercase;
            color: @pearl;
            background-color: @lightpurple;
        }
    }
}
